.register-main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8FAFC;
}

.register-box{
    max-width: 22rem;
    border-radius: 5px;
    border-top: 5px solid var(--primary-500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
}

.btn-register{
    width: 100%;
}